<div class="modal-header">
    @if (isAddMode) {
        <h4 class="modal-title">Add Owner</h4>
    } @else {
        <h4 class="modal-title">Edit Owner</h4>
    }
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input id="firstName" type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" />
            <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                <div *ngIf="f['firstName'].errors['required']">First Name is required</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input id="lastName" type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" />
            <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                <div *ngIf="f['lastName'].errors['required']">Last Name is required</div>
            </div>
        </div>
        <div>
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Save
            </button>
            <a class="btn btn-link" (click)="activeModal.dismiss()" tabindex="0">Cancel</a>
        </div>
    </form>
</div>
